{
    "swagger": "2.0",
    "info": {
        "description": "API untuk mengelola PDF (Merge, Compress, dll)",
        "title": "PDF Merger API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "asia-southeast2-personalsmz.cloudfunctions.net",
    "basePath": "/pdfmerger",
    "schemes": [
        "https"
    ],
    "paths": {
        "/pdfm/create/users": {
            "post": {
                "description": "Membuat user baru secara langsung (bypass register)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Management"
                ],
                "summary": "Tambah User Manual (Admin)",
                "parameters": [
                    {
                        "description": "Create Payload",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.RegisterInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.PdfmUsers"
                        }
                    }
                }
            }
        },
        "/pdfm/delete/users": {
            "delete": {
                "description": "Menghapus user berdasarkan ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Management"
                ],
                "summary": "Hapus User",
                "parameters": [
                    {
                        "description": "Payload Hapus",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.DeleteUserInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/pdfm/feedback": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Hanya admin yang bisa melihat daftar feedback",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Feedback"
                ],
                "summary": "Melihat Semua Feedback (Admin Only)",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.Feedback"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "User mengirim kritik dan saran (Wajib Login)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Feedback"
                ],
                "summary": "Mengirim Feedback (User Login)",
                "parameters": [
                    {
                        "description": "Payload Feedback",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.FeedbackInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.FeedbackResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/pdfm/get/users": {
            "get": {
                "description": "Mengambil list semua pengguna yang terdaftar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Management"
                ],
                "summary": "Ambil Semua Data User (Admin)",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.PdfmUsers"
                            }
                        }
                    }
                }
            }
        },
        "/pdfm/getone/users": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Mengambil data user yang sedang login berdasarkan Token",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Profile"
                ],
                "summary": "Cek Profil Saya",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.PdfmUsers"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/pdfm/getoneadmin/users": {
            "get": {
                "description": "Mencari user berdasarkan Query Param ID atau Name",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Management"
                ],
                "summary": "Cari Satu User (Admin)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "User ID",
                        "name": "id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "User Name",
                        "name": "name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.PdfmUsers"
                        }
                    }
                }
            }
        },
        "/pdfm/history/all": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Menggabungkan semua jenis riwayat (Merge, Compress, Convert, Summary) menjadi satu list",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "History - Unified"
                ],
                "summary": "Lihat Semua Riwayat (Gabungan)",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.UnifiedHistoryResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/pdfm/history/delete": {
            "delete": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Menghapus satu item riwayat berdasarkan ID dan Tipe",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "History - Unified"
                ],
                "summary": "Hapus Riwayat",
                "parameters": [
                    {
                        "description": "Payload Hapus History",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.DeleteHistoryInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/pdfm/invoices": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Melihat riwayat pembayaran pengguna yang login",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Payment"
                ],
                "summary": "Lihat Invoice Saya",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.Invoice"
                            }
                        }
                    }
                }
            }
        },
        "/pdfm/log/compress": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "History - Compress"
                ],
                "summary": "Lihat Riwayat Compress",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.CompressHistory"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Mencatat riwayat kompresi PDF",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "History - Compress"
                ],
                "summary": "Simpan Log Compress PDF",
                "parameters": [
                    {
                        "description": "Payload Data Compress",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.CompressInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.HistoryActionResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/pdfm/log/convert": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "History - Convert"
                ],
                "summary": "Lihat Riwayat Convert",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.ConvertHistory"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Mencatat riwayat konversi PDF (misal: PDF to Word)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "History - Convert"
                ],
                "summary": "Simpan Log Convert PDF",
                "parameters": [
                    {
                        "description": "Payload Data Convert",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.ConvertInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.HistoryActionResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/pdfm/log/merge": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Menampilkan daftar riwayat merge user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "History - Merge"
                ],
                "summary": "Lihat Riwayat Merge",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.MergeHistory"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Mencatat riwayat penggabungan PDF ke database",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "History - Merge"
                ],
                "summary": "Simpan Log Merge PDF",
                "parameters": [
                    {
                        "description": "Payload Data Merge",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.MergeInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.HistoryActionResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/pdfm/log/summary": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "History - Summary"
                ],
                "summary": "Lihat Riwayat Summary",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/model.SummaryHistory"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Mencatat riwayat ringkasan (summary) PDF",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "History - Summary"
                ],
                "summary": "Simpan Log Summary PDF",
                "parameters": [
                    {
                        "description": "Payload Data Summary",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.SummaryInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.HistoryActionResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/pdfm/login": {
            "post": {
                "description": "Masuk ke sistem untuk mendapatkan Token Akses",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "summary": "Login Pengguna",
                "parameters": [
                    {
                        "description": "Payload login",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.LoginInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.LoginResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/pdfm/logout": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Menghapus token akses dari database",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "summary": "Keluar Aplikasi (Logout)",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/pdfm/notifications": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Mengambil daftar notifikasi milik user, diurutkan dari yang terbaru",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Notification"
                ],
                "summary": "Lihat Notifikasi",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.NotificationResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/model.NotificationActionResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Menambahkan notifikasi baru (biasanya trigger dari sistem)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Notification"
                ],
                "summary": "Buat Notifikasi (System)",
                "parameters": [
                    {
                        "description": "Payload Notifikasi",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.NotificationRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/model.NotificationActionResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.NotificationActionResponse"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Membersihkan seluruh riwayat notifikasi milik user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Notification"
                ],
                "summary": "Hapus Semua Notifikasi",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.NotificationActionResponse"
                        }
                    }
                }
            }
        },
        "/pdfm/notifications/read": {
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Mengubah status semua notifikasi user menjadi 'read' (sudah dibaca)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Notification"
                ],
                "summary": "Tandai Semua Dibaca",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.NotificationActionResponse"
                        }
                    }
                }
            }
        },
        "/pdfm/payment": {
            "post": {
                "description": "Mengubah status user menjadi Supporter setelah bayar",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Payment"
                ],
                "summary": "Konfirmasi Pembayaran",
                "parameters": [
                    {
                        "description": "Payload Payment",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.PaymentInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.PaymentResponse"
                        }
                    }
                }
            }
        },
        "/pdfm/profile/photo": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Mengambil string Base64 foto profil user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Profile"
                ],
                "summary": "Lihat Foto Profil",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.ProfilePhotoResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Mengganti foto profil (Format Base64)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Profile"
                ],
                "summary": "Upload Foto Profil",
                "parameters": [
                    {
                        "description": "Payload Foto Base64",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.UploadProfilePhotoInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.ProfilePhotoResponse"
                        }
                    }
                }
            }
        },
        "/pdfm/register": {
            "post": {
                "description": "User mendaftarkan diri dengan Nama, Email, dan Password",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Auth"
                ],
                "summary": "Pendaftaran Akun Baru",
                "parameters": [
                    {
                        "description": "Payload Register",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.RegisterInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    }
                }
            }
        },
        "/pdfm/update/users": {
            "put": {
                "description": "Memperbarui data user (nama, password, dll)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "User Management"
                ],
                "summary": "Update Data User",
                "parameters": [
                    {
                        "description": "Update Payload",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.UpdateUserInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/model.ResponseMessage"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "model.CompressHistory": {
            "type": "object",
            "properties": {
                "compressed_size": {
                    "type": "integer",
                    "example": 1500000
                },
                "created_at": {
                    "type": "string"
                },
                "file_name": {
                    "type": "string",
                    "example": "laporan_besar.pdf"
                },
                "id": {
                    "type": "string",
                    "example": "65b..."
                },
                "original_size": {
                    "type": "integer",
                    "example": 5000000
                },
                "status": {
                    "type": "string",
                    "example": "success"
                },
                "user_id": {
                    "type": "string"
                }
            }
        },
        "model.CompressInput": {
            "type": "object",
            "properties": {
                "compressed_size": {
                    "type": "integer",
                    "example": 1500000
                },
                "file_name": {
                    "type": "string",
                    "example": "laporan_besar.pdf"
                },
                "original_size": {
                    "type": "integer",
                    "example": 5000000
                },
                "status": {
                    "type": "string",
                    "example": "success"
                }
            }
        },
        "model.ConvertHistory": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "file_name": {
                    "type": "string",
                    "example": "document.docx"
                },
                "id": {
                    "type": "string",
                    "example": "65b..."
                },
                "source_format": {
                    "type": "string",
                    "example": "docx"
                },
                "target_format": {
                    "type": "string",
                    "example": "pdf"
                },
                "user_id": {
                    "type": "string"
                }
            }
        },
        "model.ConvertInput": {
            "type": "object",
            "properties": {
                "file_name": {
                    "type": "string",
                    "example": "document.docx"
                },
                "source_format": {
                    "type": "string",
                    "example": "docx"
                },
                "target_format": {
                    "type": "string",
                    "example": "pdf"
                }
            }
        },
        "model.DeleteHistoryInput": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "example": "65b123..."
                },
                "type": {
                    "description": "merge, compress, convert, summary",
                    "type": "string",
                    "example": "merge"
                }
            }
        },
        "model.DeleteUserInput": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "example": "65a423..."
                }
            }
        },
        "model.Feedback": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "user_id": {
                    "description": "Opsional",
                    "type": "string"
                }
            }
        },
        "model.FeedbackInput": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string",
                    "example": "budi@gmail.com"
                },
                "message": {
                    "type": "string",
                    "example": "Aplikasi ini sangat mantap!"
                },
                "name": {
                    "type": "string",
                    "example": "Budi"
                }
            }
        },
        "model.FeedbackResponse": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "example": "65b..."
                },
                "message": {
                    "type": "string",
                    "example": "Terima kasih!"
                }
            }
        },
        "model.HistoryActionResponse": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "example": "65b4..."
                },
                "message": {
                    "type": "string",
                    "example": "Log berhasil disimpan"
                }
            }
        },
        "model.HistoryItem": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "description": {
                    "type": "string",
                    "example": "Merged 2 PDF files"
                },
                "details": {},
                "file_name": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "type": {
                    "type": "string",
                    "example": "merge"
                }
            }
        },
        "model.Invoice": {
            "type": "object",
            "properties": {
                "amount": {
                    "type": "integer"
                },
                "createdAt": {
                    "type": "string"
                },
                "details": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "paymentMethod": {
                    "type": "string"
                },
                "status": {
                    "description": "\"Paid\", \"Pending\", \"Failed\"",
                    "type": "string"
                }
            }
        },
        "model.LoginInput": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string",
                    "example": "example@gmail.com"
                },
                "password": {
                    "type": "string",
                    "example": "rahasia123"
                }
            }
        },
        "model.LoginResponse": {
            "type": "object",
            "properties": {
                "isAdmin": {
                    "type": "boolean",
                    "example": false
                },
                "message": {
                    "type": "string",
                    "example": "Login berhasil"
                },
                "token": {
                    "type": "string",
                    "example": "eyJhbGciOiJIUzI1Ni..."
                },
                "userName": {
                    "type": "string",
                    "example": "Pipo"
                }
            }
        },
        "model.MergeHistory": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "id": {
                    "type": "string",
                    "example": "65b..."
                },
                "input_files": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "file1.pdf",
                        "file2.pdf"
                    ]
                },
                "output_file": {
                    "type": "string",
                    "example": "merged_result.pdf"
                },
                "user_id": {
                    "type": "string"
                }
            }
        },
        "model.MergeInput": {
            "type": "object",
            "properties": {
                "input_files": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "file1.pdf",
                        "file2.pdf"
                    ]
                },
                "output_file": {
                    "type": "string",
                    "example": "merged_result.pdf"
                }
            }
        },
        "model.Notification": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "file_name": {
                    "type": "string"
                },
                "icon": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "is_read": {
                    "type": "boolean"
                },
                "message": {
                    "type": "string"
                },
                "type": {
                    "description": "merge, compress, convert, summary",
                    "type": "string"
                },
                "user_id": {
                    "type": "string"
                }
            }
        },
        "model.NotificationActionResponse": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "example": "65b4..."
                },
                "message": {
                    "type": "string",
                    "example": "Berhasil"
                },
                "status": {
                    "type": "integer",
                    "example": 200
                }
            }
        },
        "model.NotificationRequest": {
            "type": "object",
            "properties": {
                "file_name": {
                    "type": "string",
                    "example": "laporan_final.pdf"
                },
                "icon": {
                    "type": "string",
                    "example": "check-circle"
                },
                "message": {
                    "type": "string",
                    "example": "File PDF berhasil digabungkan"
                },
                "type": {
                    "type": "string",
                    "example": "info"
                }
            }
        },
        "model.NotificationResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string",
                    "example": "Notifications retrieved successfully"
                },
                "notifications": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.Notification"
                    }
                },
                "status": {
                    "type": "integer",
                    "example": 200
                }
            }
        },
        "model.PaymentInput": {
            "type": "object",
            "properties": {
                "amount": {
                    "type": "integer",
                    "example": 50000
                },
                "name": {
                    "type": "string",
                    "example": "pipo"
                }
            }
        },
        "model.PaymentResponse": {
            "type": "object",
            "properties": {
                "amountPaid": {
                    "type": "integer",
                    "example": 50000
                },
                "invoiceDate": {
                    "type": "string"
                },
                "invoiceId": {
                    "type": "string",
                    "example": "65b..."
                },
                "message": {
                    "type": "string",
                    "example": "Pembayaran telah dilakukan, terima kasih!"
                }
            }
        },
        "model.PdfmUsers": {
            "type": "object",
            "properties": {
                "createdAt": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "isAdmin": {
                    "type": "boolean"
                },
                "isSupport": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "profilePhoto": {
                    "type": "string"
                },
                "updatedAt": {
                    "type": "string"
                }
            }
        },
        "model.ProfilePhotoResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string",
                    "example": "Profile photo updated successfully"
                },
                "profilePhoto": {
                    "type": "string",
                    "example": "base64string..."
                }
            }
        },
        "model.RegisterInput": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string",
                    "example": "example@gmail.com"
                },
                "name": {
                    "type": "string",
                    "example": "pipo"
                },
                "password": {
                    "type": "string",
                    "example": "rahasia123"
                }
            }
        },
        "model.ResponseMessage": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string",
                    "example": "Berhasil"
                }
            }
        },
        "model.SummaryHistory": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "file_name": {
                    "type": "string",
                    "example": "jurnal.pdf"
                },
                "id": {
                    "type": "string",
                    "example": "65b..."
                },
                "language": {
                    "type": "string",
                    "example": "id"
                },
                "summary_text": {
                    "type": "string",
                    "example": "Ringkasan dokumen ini adalah..."
                },
                "user_id": {
                    "type": "string"
                }
            }
        },
        "model.SummaryInput": {
            "type": "object",
            "properties": {
                "file_name": {
                    "type": "string",
                    "example": "jurnal.pdf"
                },
                "language": {
                    "type": "string",
                    "example": "id"
                },
                "summary_text": {
                    "type": "string",
                    "example": "Ringkasan..."
                }
            }
        },
        "model.UnifiedHistoryResponse": {
            "type": "object",
            "properties": {
                "history": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/model.HistoryItem"
                    }
                },
                "message": {
                    "type": "string",
                    "example": "History retrieved successfully"
                },
                "status": {
                    "type": "integer",
                    "example": 200
                }
            }
        },
        "model.UpdateUserInput": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string",
                    "example": "example@gmail.com"
                },
                "id": {
                    "type": "string",
                    "example": "65a..."
                },
                "isSupport": {
                    "type": "boolean",
                    "example": false
                },
                "name": {
                    "type": "string",
                    "example": "pipo"
                },
                "password": {
                    "type": "string",
                    "example": "passbaru"
                }
            }
        },
        "model.UploadProfilePhotoInput": {
            "type": "object",
            "properties": {
                "profilePhoto": {
                    "type": "string",
                    "example": "data:image/png;base64,iVBORw0KGgo..."
                }
            }
        }
    }
}
